################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Do_An/.vs/App_Do_An.slnx/FileContentIndex/cc0b652c-dd3b-4a69-9827-0ba7fd7e763f.vsidx
